@import '~bootstrap/scss/bootstrap';

form {
  margin-top: 40px;
  margin-left: 50px;
  margin-bottom: 20px;
  margin-right: 75px;
  display: flex;
  float: left;
  flex-direction: column;
  font-size: 13px;
  // width: 230px;
}

button#get-directors {
  height: 60px;
}

button#sign-out {
  height: 60px;
}

div.add-director {
  width: 220px;
}

div.edit-director-form {
  width: 220px;
}

div.change-password {
  width: 220px;
}

body {
  background-color: #F0B911;
  font-family: 'Shrikhand', cursive;
}

// #sign-out {
//   height: 50px;
//   width: 200px;
// }
//
// #get-directors {
//   height: 50px;
//   width: 200px;
// }

.get-directors {
  background-color: #F02211;
  color: #F0B911;
  display: flex;
  flex-direction: column;
  font-family: courier;
  width: 500px;
  margin: 0 auto;
  // margin-bottom: 20px;
  // margin-left: 100px;
  // margin-right: 100px;
  border-top: 10px solid;
  border-bottom: 10px solid;
  border-left: 20px solid;
  border-right: 20px solid;
  padding: 30px;
  text-align: center;
  border-color: #212529;
}

.header {
  display: flex;
  border: 20px solid;
  height: 300px;
  // float: left;
  // flex-direction: column;
}

.hidden {
  display: none;
}

#message {
  display: flex;
  align-content: center;
  margin-left: 30px;
}

#message2 {
  display: flex;
  align-content: center;
  margin-left: 30px;
}

legend {
  font-size: 15px;
}

button {
  margin-left: 35px;
  margin-bottom: 40px;
}

h1 {
  display: flex;
  justify-content: center;
  font-size: 100px;
  font-weight: bold;
}

h3 {
  display: flex;
  justify-content: center;
}
